<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-1-strong fixed-top table-responsive">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/playlists">Playlists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/videos">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/requests">Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/edit/introduction">Introduction</a>
                </li>
            </ul>
        </div>
    </div>
</nav>