.projects-content-wrapper {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.projects-content-wrapper .title {
  text-align: center;
}
.projects-content-wrapper .loading-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
