.signup-content-wrapper {
  padding-top: 4rem;
  width: 100%;
}
.signup-content-wrapper .container {
  margin: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.signup-content-wrapper .container .content {
  padding-top: 1rem;
  padding-left: 1rem;
  width: 50%;
}
.signup-content-wrapper .container .badges {
    padding-top: 1rem;
    padding-left: 1rem;
    width: 50%;
  }
.MuiStepIcon-root.MuiStepIcon-completed,
.MuiStepIcon-root.MuiStepIcon-active {
  color: #f50057 !important;
}
@media only screen and (max-width: 767px) {
  .signup-content-wrapper .container .content {
    padding: 0;
    padding-top: 2rem;
    width: 90%;
  }
  .signup-content-wrapper .container .badges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
    align-items: center;
    width: 100%;
  }
  .signup-content-wrapper .container {
    padding: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 100%;
  }
}
